{% extends 'IpfFrontBundle:layout:layout.html.twig' %}


{% block body -%}
        <div class="col-md-9">
        <div class="row">
            {% if entities %}
                {% for entity in entities %}
                    
                        {{ entity.id }}
                                
                               
                   
                {% endfor %}
            {% else %}
                Aucuns produits !
            {% endif %}
        </div>
    </div>
{% endblock %}
